@include font-face(
  "Tide Sans LD",
  "fonts/tidesans-500dudette-webfont",
  ("woff2", "woff")
) {
  font-style: normal;
  font-weight: 500;
}

@include font-face(
  "Geomanist-LD",
  "fonts/geomanist-regular-webfont",
  ("woff2", "woff")
) {
  font-style: normal;
  font-weight: 400;
}

@include font-face(
  "Geomanist-LD",
  "fonts/geomanist-bold-webfont",
  ("woff2", "woff")
) {
  font-style: normal;
  font-weight: 700;
}