.footer-outer
  background-color: $color2


.section--footer
  height: 100vh
  position: relative
  background-color: $color2
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: white
  filter: hue-rotate(0deg)
  animation: huerotation 3s linear infinite
  text-align: center
  padding: 0 8vmax
.footer-heading
  font-size: modular-scale(5)
  text-transform: lowercase

.footer-email
  font-size: modular-scale(2)
  font-weight: 700
  color: white
  &:hover
    color: white
    text-decoration: underline

@keyframes huerotation
  0%
    // filter: hue-rotate(0deg)
    opacity: .5
  25%
    // filter: hue-rotate(90deg)
  50%
    // filter: hue-rotate(180deg)
  75%
    // filter: hue-rotate(270deg)
  100%
    // filter: hue-rotate(360deg)