.section--footer
  height: 100vh
  background-color: $color2
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: white
  animation: hue-rotation 3s linear infinite

.footer-heading
  font-size: modular-scale(5)
  text-transform: lowercase


@keyframes hue-rotation
  0%
    filter: hue-rotate(0)
  100%
    filter: hue-rotate(360deg)