.site-header
  height: 8vmax
  line-height: 8vmax
  padding: 0 3vmax
  @media (min-width: $medium-screen)
    padding: 0 4vmax
    height: 6vmax
    line-height: 6vmax
  left: 0
  bottom: 0
  right: 0
  z-index: 999
  position: relative
  a
    color: black
  body.home &
    // position: sticky
    top: 0
    bottom: auto
    margin-top: -8vmax
    a
      color: white
      transition: color $base-duration
  html.scrolled &
    a
      color: black !important
  .site-title
    font-size: modular-scale(2)
    font-family: 'Tide Sans LD'
    -webkit-font-smoothing: antialiased
    letter-spacing: 0
    font-weight: 700

.trigger
  font-size: modular-scale(0)
  color: $medium-gray
  body.home &
    color: $light-gray
  letter-spacing: 0.05em
  @media (orientation: landscape)
    font-size: modular-scale(1)
    letter-spacing: 0
.site-nav
  float: right
  body.home &
    color: white
    transition: color $base-duration
  html.scrolled &
    color: black !important

  font-weight: 700
  .nav-trigger
      display: none
  .menu-icon
    display: none
  label[for="nav-trigger"]
    margin-bottom: 0
  .page-link
    color: $base-font-color
    line-height: $base-line-height
    // Gaps between nav items, but not on the last one
    &:not(:last-child)
      margin-right: 20px
  @media screen and (max-width: $medium-screen)
    right: $base-spacing / 2
    background-color: transparent
    text-align: right
    label[for="nav-trigger"]
      display: block
      float: right
      width: 2 * $base-spacing
      height: 2 * $base-spacing
      z-index: 2
      cursor: pointer
    .menu-icon
      display: block
      float: right
      width: 2 * $base-spacing
      height: 2 * $base-spacing
      line-height: 0
      padding-top: $small-spacing
      text-align: center
      > svg path
        fill: white
    input ~ .trigger
      clear: both
      display: none
    input:checked ~ .trigger
      display: block
    .page-link
      display: block
      padding: $small-spacing $base-spacing
      margin-left: $base-spacing
      &:not(:last-child)
        margin-right: 0