.site-header
  height: 6vmax
  line-height: 6vmax
  padding: 0 4vmax 0
  left: 0
  bottom: 0
  right: 0
  z-index: 999
  position: relative
  html.scrolled &
    a
      color: black
  a
    color: white
    transition: color $base-duration
  body.home &
    position: sticky
    top: 0
    bottom: auto
    margin-top: -6vmax
  .site-title
    font-size: modular-scale(2)
    text-transform: lowercase
    font-family: 'Tide Sans'
    -webkit-font-smoothing: antialiased
    letter-spacing: 0
    font-weight: 700

.site-nav
  float: right
  color: white
  transition: color $base-duration
  html.scrolled &
    color: black

  font-weight: 700
  .nav-trigger
      display: none
  .menu-icon
    display: none
  label[for="nav-trigger"]
    margin-bottom: 0
  .page-link
    color: $base-font-color
    line-height: $base-line-height
    // Gaps between nav items, but not on the last one
    &:not(:last-child)
      margin-right: 20px
  @media screen and (max-width: $medium-screen)
    right: $base-spacing / 2
    background-color: transparent
    text-align: right
    label[for="nav-trigger"]
      display: block
      float: right
      width: 2 * $base-spacing
      height: 2 * $base-spacing
      z-index: 2
      cursor: pointer
    .menu-icon
      display: block
      float: right
      width: 2 * $base-spacing
      height: 2 * $base-spacing
      line-height: 0
      padding-top: $small-spacing
      text-align: center
      > svg path
        fill: white
    input ~ .trigger
      clear: both
      display: none
    input:checked ~ .trigger
      display: block
    .page-link
      display: block
      padding: $small-spacing $base-spacing
      margin-left: $base-spacing
      &:not(:last-child)
        margin-right: 0