.section--hero
  height: 100vh
  overflow: hidden
  position: relative
  transition: 1s
  html.js-loading &
    transform: translateY(100%)
    transition: none
  img
    height: 100%
    width: 100%
    object-fit: cover
    object-position: center