html.js-loading
  overflow: hidden
  pointer-events: none
  body
    overflow: hidden
    pointer-events: none


.section--loading
  position: fixed
  z-index: 99999
  background-color: $color2
  text-align: center
  font-size: modular-scale(4)
  @media (orientation: landscape)
    font-size: modular-scale(5)
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  align-items: center
  justify-content: center
  transform: translateY(-100%)
  transition: transform 1000ms
  // animation: loadingBg 5s linear infinite
  animation: hue-rotation 3s linear infinite
  html.js-loading &
    transform: translateY(0%)
    transition: transform 1000ms



.loading-message
  // animation: loadingText 4s linear infinite
  font-family: $heading-font-family
  font-weight: 700
  color: white
  line-height: $heading-line-height
  transform: translateY(-500%)
  transition: 1000ms
  html.js-loading &
    transform: translateY(0%)
    transition: 1000ms