<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{{ page.layout}}">

    {% if page.layout != 'home' %}
      {% include header.html %}
    {% endif %}

    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>

    {% if page.layout == 'home' %}
      <script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/imagesloaded.pkgd.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/simpleslider.min.js"></script>

      <script>
        document.documentElement.scrollTop = -100;
        document.addEventListener('DOMContentLoaded',function(){
          document.documentElement.scrollTop = -100;
          document.documentElement.classList.add('js-loading');

          imagesLoaded( document.getElementById('hero-image-slider'), function( instance ) {
            document.documentElement.scrollTop = -100;
            setTimeout(function(){
              document.documentElement.scrollTop = -100;
              document.documentElement.classList.remove('js-loading');
              simpleslider.getSlider({
                container: document.getElementById('hero-image-slider'),
                prop: 'opacity',
                init: 0,
                show: 1,
                end: 0,
                unit: '',
                duration: 1
              });
            },4000);
          });
        });
      </script>

      <script>
        document.addEventListener('DOMContentLoaded',function(){

          if ('IntersectionObserver' in window && 'IntersectionObserverEntry' in window && 'intersectionRatio' in window.IntersectionObserverEntry.prototype) {

            var aos = {
              offset: 120,
              delay: 0,
              easing: "ease",
              duration: 400,
              disable: !1,
              once: !1,
              startEvent: "DOMContentLoaded"
            };

            document.querySelector("body").classList.add('aos');
            document.querySelector("body").setAttribute("data-aos-easing", aos.easing),
            document.querySelector("body").setAttribute("data-aos-duration", aos.duration);
            document.querySelector("body").setAttribute("data-aos-delay", aos.delay);

            var options = {
              threshold: [0,.25,.5,.75],
              rootMargin: '30px 30px'
            };

            var aos = document.querySelectorAll("[data-aos]");

            var callback =  function(entries, observer) {
              entries.forEach(entry => {
                if(entry.intersectionRatio >= .75 && entry.target.classList.contains('lazyload')) {
                  entry.target.setAttribute('srcset',entry.target.getAttribute('data-srcset'));
                  entry.target.classList.remove('lazyload');
                }
                if(entry.intersectionRatio >= .25) {
                  entry.target.classList.add('aos-animate');
                }
                else if(entry.intersectionRatio == 0) {
                  entry.target.classList.remove('aos-animate');
                }
              });
            }

            var observer = new IntersectionObserver(callback, options);

            aos.forEach(image => {
              observer.observe(image);
            });
          }
          else {
            // @todo: trigger lazy load switch now as no intersection observer exists!
          }
        });
      </script>

    {% endif %}

  </body>

</html>
