---
layout: default
---
<section class="section section--loading">
  <div class="loading-message">
    we help good people<br />say good things
  </div>
</section>

<section class="section section--hero" data-simple-slider id="hero-image-slider">
  {% for slide in site.slides %}
    {% capture slide_image %}/assets/images/{{ slide.image }}{% endcapture %}
    {% include cloudinary.html img=slide_image position=slide.position width="1280" height="720" modes="c_fill,e_sharpen" quality="85" %}
  {% endfor %}
</section>

<!-- <section class="section section--hero" data-simple-slider id="hero-flag-slider">
{% for i in (1..site.stripe_count) %}
  <div class="flag"></div>
{% endfor %}
</section> -->


{% include header.html %}

<section class="section--intro container">
  <div class="narrow-container intro--container">
    <!-- <h1 class="intro-title">We’re Let’s Dance.</h1> -->
    <h2 class="intro--title">We’re a small creative agency who specialise in supporting charities, independents and organisations that do social good.</h2>
  </div>
</section>

<section class="section--case-study">
  <div class="container">
    <h2 class="sr-only">Case studies</h2>
    <div class="case-study--container">
      {% for casestudy in site.casestudies %}
        <div class="case-study--item" data-aos="fade-up" data-aos-ratio=".25">
          <div class="case-study--image">
            {% if forloop.index == 1 or forloop.index == 5 %}
              {% include cloudinarylazy.html class="case-study--thumb lazyload" img=casestudy.thumb width="900" height="900" sizes="40vw" modes="c_fill,e_sharpen" %}
            {% else %}
              {% include cloudinarylazy.html class="case-study--thumb lazyload" img=casestudy.thumb width="900" height="600" sizes="40vw" modes="c_fill,e_sharpen" %}
            {% endif %}
          </div>
          <div class="case-study--text">
            <h3 class="case-study--title">{{casestudy.title}}</h3>
            <div class="case-study--type">{{casestudy.type}}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section--team">
  <div class="container">
    <div class="team--photo-container">
      {% include cloudinary.html class="team--photo" img="/assets/images/team.jpg" width="600" height="900" modes="c_fill,g_face,e_sharpen" quality="85" %}
    </div>
    <div class="team--text-container">
      <div class="team--text--heading">We help good people say good things</div>
      <div class="team--text--people">
        <h2 class="team--text--people--title">The team</h2>
        <ul class="team--text--people--list">
          <li>
            <h3 class="team--text--people--list--name">Natalie Morton</h3>
            <p>Branding, design, communication</p>
          </li>
          <li>
            <h3 class="team--text--people--list--name">John Puddephatt</h3>
            <p>Branding, digital, communication</p>
          </li>
          <li>
            <h3 class="team--text--people--list--name">Ollie Jenkins</h3>
            <p>Photography and videography</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section>
  <ul class="container animated-list">
    <li><h3>First</h3></li>
    <li><h3>Second</h3></li>
    <li><h3>Third</h3></li>
    <li><h3>Fourth</h3></li>
    <li><h3>Fifth</h3></li>
  </ul>
</section>

<style>
.animated-list {
  display: flex;
  flex-direction: column;
}

.animated-list li:nth-child(3) {
  animation: test 3s infinite;
}

@keyframes test {
  0% {
    order: 0
  }
  25% {
    order: 1
  }
  50% {
    order: 3;
    opacity: .5;

  }

}
</style>

{% include footer.html %}