figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
}


.lazyload {
  opacity: 0;
  transition: opacity $base-duration;
}

.lazyload[data-lazyload=loaded] {
  opacity: 1;
}